* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*background: #aaa;
border: 1px solid red;*/

.header-container {
  position: relative;
  padding: 3px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  background: #EEDFF5;
}

.project-title {
  display: flex;
  margin: 1px;
  padding: 10px;
  font-size: 3em;
}

.menu-container {
  position: relative;
  padding: 1px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-option {
  display: flex;
  margin: 1px;
  padding: 6px 14px;
  font-size: 1.1em;
  background: #E6DFF5;
}

.menu > li {
  display: inline-block;
  margin: 10px;
}

.general-block {
  position: relative;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-big {
  display: flex;
  margin: 1px;
  padding: 8px;
  font-size: 1.5em;
}

.heading-small {
  display: flex;
  margin: 1px;
  padding: 30px 8px 0px 8px;
  font-size: 1.3em;
}

.right-parent {
  display: flex;
  justify-content: right;
}

.right-baby {
  display: flex;
  justify-content: right;
  margin-left: 22%;
}

.paragraph-info {
  width: 60%;
}

/*.stats-grid {
  border: 1px solid blue;
}*/

.stat {
  float: left;
  width: 50%;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
  border: 1px solid #E6DFF5;
}

.map-static {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.footer-container {
  position: relative;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  background: #EEDFF5;
}

.authors {
  font-size: .7em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
}

th {
  text-align: left;
}

table {
  table-layout: fixed;
  width: 800px;
}

th.updates-name {
  width: 30%
}

th.updates-milestone {
  width: 40%
}

th.updates-rating, th.updates-date {
  width: 15%
}

.map-display {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.search-bar {
  padding: 20px 8px 8px 8px;
}

.temp-space {
  padding: 250px;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 8px 15px 8px;
}

.dot {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  display: inline-block;
  margin: 50px 20px 10px;
  border: 1px solid black;
}

.line {
  position: absolute;
  border-bottom: 2px solid black;
  width: 1050px;
  justify-content: center;
  top: 187px;
  z-index: -1;
}

.milestone {
  font-size: .9em;
  position: relative;
  top: -55px;
  text-align: center;
  vertical-align: baseline;
}

.date {
  font-size: .9em;
  color: white;
  position: relative;
  top: -18px;
  text-align: center;
  vertical-align: baseline;
}

.paragraph-big {
  width: 55%;
}

.chart-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.chart {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m1, .m2, .m3, .m4 {
  background-color: #5C1D7A;
}

.m5, .m6, .m7, .m8, .m9 {
  background-color: white;
}
